In [4]:
# importing files for uploading files to colab

from google.colab import files

In [5]:
# Upoloading forest fires file to colab
uploaded = files.upload()

Saving forestfires.csv to forestfires.csv

In [6]:
# reading file data to df
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['forestfires.csv' ]))
df.head()

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0          small
1   oct  tue  90.6  35.4  ...         0         1         0          small
2   oct  sat  90.6  43.7  ...         0         1         0          small
3   mar  fri  91.7  33.3  ...         0         0         0          small
4   mar  sun  89.3  51.3  ...         0         0         0          small

[5 rows x 31 columns]

In [7]:
df.shape

(517, 31)

In [8]:
# As file contains both dummy data and orginal data we will delete part of it 

df= df.drop(['month', 'day', 'area'],axis =1)
df.head()

   FFMC   DMC     DC  ISI  ...  monthnov  monthoct  monthsep  size_category
0  86.2  26.2   94.3  5.1  ...         0         0         0          small
1  90.6  35.4  669.1  6.7  ...         0         1         0          small
2  90.6  43.7  686.9  6.7  ...         0         1         0          small
3  91.7  33.3   77.5  9.0  ...         0         0         0          small
4  89.3  51.3  102.2  9.6  ...         0         0         0          small

[5 rows x 28 columns]

In [9]:
df.shape

(517, 28)

In [10]:
# Copying df to dataset
dataset = df.copy()

In [11]:
# Asssigning x and y variables

X = dataset.iloc[:,0:27]
y = pd.DataFrame(dataset.iloc[:,27])

In [12]:
# labeling the data where required 
from sklearn import preprocessing 

y= preprocessing.LabelEncoder().fit_transform(pd.DataFrame(dataset.iloc[:,27]))
y

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1])

In [13]:
# splitting the data to test and train
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=7)

In [14]:
# Importing the necessary  packages for scaling the data
import pandas as pd
import numpy as np
import keras
from sklearn.preprocessing import StandardScaler

In [100]:
# Standardization of x variables
a = StandardScaler()


X_standardized = a.fit_transform(X_train)

X_test_s = a.fit_transform(X_test)

In [17]:
pd.DataFrame(X_standardized).describe()

                 0             1   ...            25            26
count  4.130000e+02  4.130000e+02  ...  4.130000e+02  4.130000e+02
mean  -1.317886e-16  7.896562e-17  ...  1.582001e-16 -1.102158e-16
std    1.001213e+00  1.001213e+00  ...  1.001213e+00  1.001213e+00
min   -1.223739e+01 -1.699542e+00  ... -1.941351e-01 -6.853838e-01
25%   -5.540860e-02 -8.205982e-01  ... -1.941351e-01 -6.853838e-01
50%    1.827866e-01 -6.970214e-02  ... -1.941351e-01 -6.853838e-01
75%    3.869539e-01  5.152064e-01  ... -1.941351e-01  1.459037e+00
max    9.484139e-01  2.867487e+00  ...  5.151052e+00  1.459037e+00

[8 rows x 27 columns]

#### Creating Model

In [19]:
# Importing the necessary packages
from sklearn.model_selection import GridSearchCV, KFold
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor
from keras.optimizers import Adam

In [70]:
# create model
def create_model():
    model = Sequential()
    model.add(Dense(27, input_dim=27, kernel_initializer='uniform', activation='relu'))
    model.add(Dense(9, kernel_initializer='uniform', activation='relu'))
    model.add(Dense(1, kernel_initializer='uniform', activation='sigmoid'))
    
    adam=Adam(lr=0.03)
    model.compile(loss= 'binary_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

In [73]:
# greating grid search for best the parameters
mymodel = KerasClassifier(build_fn = create_model,verbose = 0)
batch_size = [2]
epochs = [100]
param_grid = dict(batch_size = batch_size,epochs = epochs)
grid = GridSearchCV(estimator = mymodel,param_grid = param_grid,cv = 5,verbose = 2)
grid_result = grid.fit(X_standardized,y_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV] batch_size=2, epochs=100 ........................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

WARNING:tensorflow:5 out of the last 13 calls to <function Model.make_test_function.<locals>.test_function at 0x7ff73c009c20> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
[CV] ......................... batch_size=2, epochs=100, total=  17.4s
[CV] batch_size=2, epochs=100 ........................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.4s remaining:    0.0s

[CV] ......................... batch_size=2, epochs=100, total=  17.3s
[CV] batch_size=2, epochs=100 ........................................
[CV] ......................... batch_size=2, epochs=100, total=  17.5s
[CV] batch_size=2, epochs=100 ........................................
[CV] ......................... batch_size=2, epochs=100, total=  18.2s
[CV] batch_size=2, epochs=100 ........................................
[CV] ......................... batch_size=2, epochs=100, total=  18.5s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  1.5min finished

In [74]:
# Summarize the results and getting the best paramets 
print('Best : {}, using {}'.format(grid_result.best_score_,grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
  print('{},{} with: {}'.format(mean, stdev, param))

Best : 0.7432559609413147, using {'batch_size': 2, 'epochs': 100}
0.7432559609413147,0.04341309640707233 with: {'batch_size': 2, 'epochs': 100}

In [75]:
# .7432 is best accuracy we got for the batch_size of 1 and 10 epochs
# now we can fit the data to run the model using these parameters
# many other parameters are tried also ither hyper parameters 
# it takes considerable time and memory so here giving outline

In [80]:
# now using the above hyper parameters we can fit the model
mymodel.fit(X_standardized,y_train, batch_size=2, epochs=100)

In [101]:
# after fitting the model we can predict y from the follwing argument
# as the model. predict is depricated we pass the probabilities through argmax to convert them to labels based on the probability
y_pr = np.argmax(mymodel.predict(np.array(X_test_s)),axis =1)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

# Like wise we can tune all Hyperparameters as given below
# but as it is computationally expensive nad requred better system we are skipping it
# instead we can tune one by one and check
# that way we can build better model

# Modellng all hyper parameters together

In [ ]:
def create_model(learning_rate,dropout_rate,activation_function,init,neuron1,neuron2):
    model = Sequential()
    model.add(Dense(neuron1,input_dim = 8,kernel_initializer = init, activation = activation_function))
    model.add(Dropout(dropout_rate))
    model.add(Dense(neuron2,input_dim = neuron1,kernel_initializer = init,activation = activation_function))
    model.add(Dropout(dropout_rate))
    model.add(Dense(1,activation = 'sigmoid'))
    
    adam = Adam(lr = learning_rate)
    model.compile(loss = 'binary_crossentropy',optimizer = adam,metrics = ['accuracy'])
    return model

# Creating my model

mymodel = KerasClassifier(build_fn = create_model,verbose = 2)

# Defining grid search parameters

batch_size = [1,10,32,64] # should be minimum of one and max of number of datapoints
epochs = [10,50,100....] 
learning_rate = [0.001,0.01,0.1....] 
dropout_rate = [0.0,0.1,0.2....]
activation_function = ['softmax','relu','tanh','linear']
init = ['uniform','normal','zero'....]
neuron1 = [4,8,16....]
neuron2 = [2,4,8....]


# combining the parameters

param_grids = dict(batch_size = batch_size,epochs = epochs,learning_rate = learning_rate,dropout_rate = dropout_rate,
                   activation_function = activation_function,init = init,neuron1 = neuron1,neuron2 = neuron2)


# grid search

grid = GridSearchCV(estimator = model,param_grid = param_grids,cv = KFold(),verbose = 10)
grid_result = grid.fit(X_standardized,y)


# finding best parameters

print('Best : {}, using {}'.format(grid_result.best_score_,grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
  print('{},{} with: {}'.format(mean, stdev, param))