In [1]:
import pandas as pd

In [2]:
# Loading the data
cdf = pd.read_csv('Company_Data.csv')
cdf.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
# Creating Sales Label column with zero values
cdf['Slabel']=0

# assigning the values based on the sales figure 
cdf.loc[cdf['Sales']<=8, 'Slabel'] = 'Low'
cdf.loc[cdf['Sales']>8, 'Slabel'] = 'High'

In [4]:
# labeling the data where ever required
from sklearn import preprocessing


label_encoder = preprocessing.LabelEncoder()
cdf['Urban']= label_encoder.fit_transform(cdf['Urban']) 
cdf['US']= label_encoder.fit_transform(cdf['US']) 
cdf['ShelveLoc']= label_encoder.fit_transform(cdf['ShelveLoc'])
cdf['Slabel']= label_encoder.fit_transform(cdf['Slabel']) 
cdf.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Slabel
0,9.50,138,73,11,276,120,0,42,17,1,1,0
1,11.22,111,48,16,260,83,1,65,10,1,1,0
2,10.06,113,35,10,269,80,2,59,12,1,1,0
3,7.40,117,100,4,466,97,2,55,14,1,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0,1

In [5]:
df = cdf.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    int32
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    int32
 10  US           400 non-null    int32
 11  Slabel       400 non-null    int32
dtypes: float64(1), int32(4), int64(7)
memory usage: 31.4 KB

In [6]:
df.shape

(400, 12)

In [7]:
# assigning the X and Y values

array = df.values
X = array[:,1:-1]
Y = array[:,-1]

In [8]:
# Building the model with bagging classifier with decision tree as base model and cross validating

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier


kfold = KFold(n_splits=10)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=7)
results = cross_val_score(model, X, Y, cv=kfold)
print("The Accuracy using Decision Tree Classifier with Bagging:", results.mean())

The Accuracy using Decision Tree Classifier with Bagging: 0.8125

In [ ]:
# From above, the average efficieny is 0.8125

In [11]:
# Building the model with Random Forest Classifier and cross validating

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

num_trees = 100
max_features = 2
kfold = KFold(n_splits=10)
model == RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, X, Y, cv=kfold)
print("The Accuracy using Decision Tree Classifier with Random Forest:", results.mean())

The Accuracy using Decision Tree Classifier with Random Forest: 0.8775000000000001

In [ ]:
# From above, the average efficieny is 0.8775

In [10]:
# Building the model with AdaBoosting and cross validating

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier

num_trees = 100
kfold = KFold(n_splits=10)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=7)
results = cross_val_score(model, X, Y, cv=kfold)
print("The Accuracy using Decision Tree Classifier with AdaBoostong:", results.mean())

The Accuracy using Decision Tree Classifier with AdaBoostong: 0.8775000000000001

In [ ]:
# Here also, the average efficieny is 0.8775

In [14]:
# Using multiple models using ensemple technic

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier


kfold = KFold(n_splits=10)

# create the sub models
estimators = []
model1 = KNeighborsClassifier(n_neighbors=6)
estimators.append(('KNN', model1))
model2 = DecisionTreeClassifier()
estimators.append(('DT', model2))
model3 = SVC()
estimators.append(('SVM', model3))
model4 = RandomForestClassifier(n_estimators=100, max_features = 5)
estimators.append(('RFM', model4))
model5 = LogisticRegression(max_iter = 1000)
estimators.append(('LGST', model5))


# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, X, Y, cv=kfold)
print(results.mean())

0.7825

In [ ]:
# In Ensemble model KNN, Decision Tree, SVM, Random Forest, Logistic are used

In [ ]:
# The average Efficieny is .785