In [1]:
# Importing Required modules

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [19]:
# Loading the salary Data to df

df = pd.read_csv('SalaryData_Test.csv')
df.head()

# the data contains somany string variables we will assign labels

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [20]:
df.info()
# there are no null values in the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [21]:
# labeling the necessary  data where ever required 

from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
for i in df:
    if type(i[0])==str:
        df[i]= label_encoder.fit_transform(df[i]) 
        
df.head()
# the data is labelled

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,8,2,1,6,4,6,3,2,1,0,0,39,37,0
1,21,2,11,8,2,4,0,4,1,0,0,49,37,0
2,11,1,7,11,2,10,0,4,1,0,0,39,37,1
3,27,2,15,9,2,6,0,2,1,87,0,39,37,1
4,17,2,0,5,4,7,1,4,1,0,0,29,37,0

In [22]:
df.shape

(15060, 14)

In [27]:
# assigning the values to inout and target parameters
array = df.values
X = array[:,0:13]
Y = array[:,13]

In [28]:
# standardising the input values
from sklearn.preprocessing import StandardScaler

a = StandardScaler()
X_standardized = a.fit_transform(X)

In [29]:
# Splitting the data nto train and test
# to reduce computational time we are using the same data
X_train, X_test, y_train, y_test = train_test_split(X_standardized,Y, test_size = 0.3)

### Grid Search CV

In [33]:
# fining best parameters for SVC using grid search

clf = SVC()
param_grid = [{'kernel':['rbf','linear'],'gamma':[5,1, 0.5],'C':[10,1,0.1,0.01] }]
grid = GridSearchCV(clf,param_grid,cv=2, verbose = 2)
grid.fit(X_train,y_train)

Fitting 2 folds for each of 24 candidates, totalling 48 fits
[CV] END ..........................C=10, gamma=5, kernel=rbf; total time=  19.1s
[CV] END ..........................C=10, gamma=5, kernel=rbf; total time=  18.5s
[CV] END .......................C=10, gamma=5, kernel=linear; total time=  13.0s
[CV] END .......................C=10, gamma=5, kernel=linear; total time=  13.1s
[CV] END ..........................C=10, gamma=1, kernel=rbf; total time=  14.7s
[CV] END ..........................C=10, gamma=1, kernel=rbf; total time=  14.2s
[CV] END .......................C=10, gamma=1, kernel=linear; total time=  13.3s
[CV] END .......................C=10, gamma=1, kernel=linear; total time=  12.6s
[CV] END ........................C=10, gamma=0.5, kernel=rbf; total time=  11.1s
[CV] END ........................C=10, gamma=0.5, kernel=rbf; total time=  11.3s
[CV] END .....................C=10, gamma=0.5, kernel=linear; total time=  13.1s
[CV] END .....................C=10, gamma=0.5, kernel=linear; total time=  13.1s
[CV] END ...........................C=1, gamma=5, kernel=rbf; total time=  17.6s
[CV] END ...........................C=1, gamma=5, kernel=rbf; total time=  17.6s
[CV] END ........................C=1, gamma=5, kernel=linear; total time=   4.5s
[CV] END ........................C=1, gamma=5, kernel=linear; total time=   5.0s
[CV] END ...........................C=1, gamma=1, kernel=rbf; total time=  13.7s
[CV] END ...........................C=1, gamma=1, kernel=rbf; total time=  13.2s
[CV] END ........................C=1, gamma=1, kernel=linear; total time=   4.8s
[CV] END ........................C=1, gamma=1, kernel=linear; total time=   4.9s
[CV] END .........................C=1, gamma=0.5, kernel=rbf; total time=  11.2s
[CV] END .........................C=1, gamma=0.5, kernel=rbf; total time=  11.2s
[CV] END ......................C=1, gamma=0.5, kernel=linear; total time=   4.9s
[CV] END ......................C=1, gamma=0.5, kernel=linear; total time=   4.9s
[CV] END .........................C=0.1, gamma=5, kernel=rbf; total time=  17.3s
[CV] END .........................C=0.1, gamma=5, kernel=rbf; total time=  15.8s
[CV] END ......................C=0.1, gamma=5, kernel=linear; total time=   3.0s
[CV] END ......................C=0.1, gamma=5, kernel=linear; total time=   3.0s
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=  12.8s
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=  12.6s
[CV] END ......................C=0.1, gamma=1, kernel=linear; total time=   3.3s
[CV] END ......................C=0.1, gamma=1, kernel=linear; total time=   2.9s
[CV] END .......................C=0.1, gamma=0.5, kernel=rbf; total time=  10.7s
[CV] END .......................C=0.1, gamma=0.5, kernel=rbf; total time=  12.1s
[CV] END ....................C=0.1, gamma=0.5, kernel=linear; total time=   2.7s
[CV] END ....................C=0.1, gamma=0.5, kernel=linear; total time=   2.9s
[CV] END ........................C=0.01, gamma=5, kernel=rbf; total time=  15.2s
[CV] END ........................C=0.01, gamma=5, kernel=rbf; total time=  15.6s
[CV] END .....................C=0.01, gamma=5, kernel=linear; total time=   2.5s
[CV] END .....................C=0.01, gamma=5, kernel=linear; total time=   2.4s
[CV] END ........................C=0.01, gamma=1, kernel=rbf; total time=  12.1s
[CV] END ........................C=0.01, gamma=1, kernel=rbf; total time=  12.2s
[CV] END .....................C=0.01, gamma=1, kernel=linear; total time=   2.6s
[CV] END .....................C=0.01, gamma=1, kernel=linear; total time=   2.4s
[CV] END ......................C=0.01, gamma=0.5, kernel=rbf; total time=  10.3s
[CV] END ......................C=0.01, gamma=0.5, kernel=rbf; total time=  10.1s
[CV] END ...................C=0.01, gamma=0.5, kernel=linear; total time=   2.5s
[CV] END ...................C=0.01, gamma=0.5, kernel=linear; total time=   2.6s

GridSearchCV(cv=2, estimator=SVC(),
             param_grid=[{'C': [10, 1, 0.1, 0.01], 'gamma': [5, 1, 0.5],
                          'kernel': ['rbf', 'linear']}],
             verbose=2)

In [34]:
# the best parameters are as goven below 
grid.best_params_ , grid.best_score_

({'C': 1, 'gamma': 0.5, 'kernel': 'rbf'}, 0.8254600645038892)

In [37]:
# now by using the above hyper parameters we will fit the model
#
clf = SVC(kernel = 'rbf', C= 1, gamma = 0.5)
clf.fit(X_train , y_train)

SVC(C=1, gamma=0.5)

In [38]:
# predicting the y for test data
y_pred = clf.predict(X_test)

In [39]:
confusion_matrix(y_test, y_pred)

array([[3233,  187],
       [ 567,  531]], dtype=int64)

In [40]:
# Finding the accuracy of prediction  
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)

Accuracy = 83.311199645861